/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg: #121212;
    --secondary-bg: #1e1e1e;
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
    --accent: #ff4d4d;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--primary-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-bg);
    border-radius: 3px;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-primary);
    /* font-family: "Jost", sans-serif; */
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
}

.smoothie {
    transition: all 0.3s ease;
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}

.sidebar-link {
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Add these to your existing styles */
.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
